<header>

  <div class="flex-container">
      <div class="flex-item">
        <%= image_tag("DistrictSports_Logo.svg", alt: "District Sports Logo") %>
      </div> <!-- end flex-item -->

      <div class="flex-item">
        <label style="text-align:left;">Sort by</label>
        <input type="radio" name="Day of the Week" id="DOTW"><label for="Day of the Week">Day of the Week</label>
        <input type="radio" name="Location" id="Location"><label for="Location">Location</label>
      </div> <!-- end flex-item -->
  </div> <!-- end flex-container -->

<hr>

</header>


<%= form_tag(programs_path, method: "get") do %>
  <%= render partial: "filters", locals: { locations: locations, programs: programs } %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= render partial: "games/index", locals: { games: games } %>
  </div>
</div>
