<% require 'date' %>
<% Date::ABBR_DAYNAMES.each do |day| %>
  <h2>
    <%= day %>
  </h2>
  <ul>
    <% return unless games %>
    <% if games[day].present? %>
      <% games[day].each do |game| %>
        <li>
          <%= game["locationName"] %>
        </li>
        <li>
          <%= (Time.at(game["startTime"]/100).to_datetime).strftime("%b %d %H:%M") %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
